*{
    box-sizing: border-box;
}
.prodcont{

    display: flex;
    
}
.prod1{
    width: 400px;
    padding: 20px;
    border: 10px;
    margin: 15px;
    text-align: center;
    border: 5px solid lightgray;
}
.prod2{
    width: 400px;
    padding: 20px;
    border: 10px;
    margin: 15px;
    text-align: center;
    border: 5px solid lightgray;
}
.prod3{
    width: 400px;
    padding: 20px;
    border: 10px;
    margin: 15px;
    text-align: center;
    border: 5px solid lightgray;
}
